<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Beauty salon "MathLina"</title>
</head>
<body>

<div th:replace="fragment/header.html"></div>

<div class="container">
  <h3 class="text-info text-center mt-20" th:text="#{appointment}"></h3>
  <div class="form-group mb-3 row">
    <label class="col-sm-5 col-form-label"
           th:text="|#{master}: ${master.name} ${master.surname}|"></label>
  </div>

  <div class="form-group mb-3 row">
    <label class="col-sm-5 col-form-label" th:text="|#{service}: ${service.name}|"></label>
  </div>

  <div class="form-group mb-3 row">
    <label class="col-sm-5 col-form-label" th:text="|#{duration}: ${service.duration}|"></label>
  </div>

  <div class="form-group mb-3 row">
    <label class="col-sm-5 col-form-label" th:text="|#{price}: ${service.price}|"></label>
  </div>

  <form method="post" th:action="${''}">

    <div class="form-group">
      <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        <input type="datetime-local" name="dateTime">
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>

</div>

</body>
</html>