<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:replace="fragment/header.html"></div>

<div class="container my-3" th:if="${messageType}">
  <div class="alert alert-danger" role="alert"
       th:if="${messageType} == 'danger'" th:text="#{activation.code.notfound}">
  </div>
  <div class="alert alert-success" role="alert"
       th:if="${messageType} == 'success'" th:text="#{user.is.activated}">
  </div>
</div>

<form class="container my-3" th:action="@{/login}" th:method="POST">

  <div class="form-group mb-3 row">
    <label class="col-sm-3 col-form-label" th:text="#{Login}">
    </label>
    <div class="col-sm-8">
      <input class="form-control" type="text" name="username"/>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label class="col-sm-3 col-form-label" th:text="#{Password}"></label>
    <div class="col-sm-8">
      <input type="password" class="form-control" name="password">
    </div>
  </div>

  <div class="form-group mb-3 row">
    <!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
    <button class="btn btn-primary" type="submit">
      Log in
    </button>
  </div>

</form>

</body>
</html>
