<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Beauty salon "MathLina"</title>
</head>
<body>

<div th:replace="fragment/header.html"></div>

<div class="container">
  <h3 class="text-info text-center mt-20" th:text="#{beauty.salon.masters}"></h3>
  <table  class="table table-striped table-alignment mt-20 text-center">
    <thead>
    <tr>
      <th>
        <a th:text="#{Name}"
           th:href="@{'/masters' + '?sort=name,' +
           ${mastersPage.getSort().getOrderFor('name') != null ?
           (mastersPage.getSort().getOrderFor('name').isAscending() ? 'desc' : 'asc')
           : 'asc'}
         }"></a>
      </th>
      <th>
        <a th:text="#{Surname}"
           th:href="@{'/masters' + '?sort=surname,' +
           ${mastersPage.getSort().getOrderFor('surname') != null ?
           (mastersPage.getSort().getOrderFor('surname').isAscending() ? 'desc' : 'asc')
           : 'asc'}
         }"></a>
      </th>
      <th>
        <a th:text="#{Grade}"
           th:href="@{'/masters' + '?sort=grade,' +
           ${mastersPage.getSort().getOrderFor('grade') != null ?
           (mastersPage.getSort().getOrderFor('grade').isAscending() ? 'desc' : 'asc')
           : 'asc'}
         }"></a>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="master, iStat : ${mastersPage.content}">
      <td>
        <a th:text="${master.name}"
           th:href="@{'/master/' + ${master.id}}">
        </a>
      </td>
      <td>
        <a th:text="${master.surname}"
           th:href="@{'/master/' + ${master.id}}">
        </a>
      </td>
      <td th:text="${master.grade}"></td>
    </tr>
    </tbody>
  </table>

  <!--  <select id="size" name="size">-->
  <!--    <option value="5">5</option>-->
  <!--    <option value="10">10</option>-->
  <!--    <option value="15">15</option>-->
  <!--    <option value="20">20</option>-->
  <!--    <option value="20">30</option>-->
  <!--    <option value="20">50</option>-->
  <!--  </select>-->

  <div class="pagination"
       th:if="${mastersPage.totalPages > 0}"
       th:each="pageNumber : ${#numbers.sequence(1, mastersPage.totalPages)}">
    <a th:href="@{'/masters' + '?size=' + ${mastersPage.size} + '&page=' + ${pageNumber - 1}}"
       th:text="${pageNumber}"
       th:class="${pageNumber==mastersPage.number + 1} ? active"></a>
  </div>
</div>

</body>
</html>