<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:replace="fragment/header.html"></div>

<form class="container my-3" th:method="POST"
      th:action="@{/profile}" th:object="${userProfileDto}">

  <div class="form-group mb-3 row">
    <label class="col-sm-3 col-form-label" th:text="#{Login}">
    </label>
    <div class="col-sm-8">
      <input class="form-control" type="text" name="username" readonly th:value="*{username}"/>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label class="col-sm-3 col-form-label" th:text="#{Old.password}"></label>
    <div class="col-sm-8">
      <input type="password" class="form-control" name="oldPassword">
      <div style="color: red" th:if="${#fields.hasErrors('password')}"
           th:errors="*{password}">
      </div>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label class="col-sm-3 col-form-label" th:text="#{Password}"></label>
    <div class="col-sm-8">
      <input type="password" class="form-control" name="password">
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label class="col-sm-3 col-form-label" th:text="#{Repeat.password.please}"></label>
    <div class="col-sm-8">
      <input type="password" class="form-control" name="passwordConfirm">
      <div style="color: red" th:if="${#fields.hasErrors('passwordConfirm')}"
           th:errors="*{passwordConfirm}">
      </div>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label class="col-sm-3 col-form-label" th:text="#{Email}"></label>
    <div class="col-sm-8">
      <input type="email" class="form-control" name="email" th:value="*{email}">
      <div style="color: red" th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}">
      </div>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label class="col-sm-3 col-form-label" th:text="#{Name}">
    </label>
    <div class="col-sm-8">
      <input class="form-control" type="text" name="name" th:value="*{name}"/>
      <div style="color: red" th:if="${#fields.hasErrors('name')}"
           th:errors="*{name}">
      </div>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label class="col-sm-3 col-form-label" th:text="#{Surname}">
    </label>
    <div class="col-sm-8">
      <input class="form-control" type="text" name="surname" th:value="*{surname}"/>
      <div style="color: red" th:if="${#fields.hasErrors('surname')}"
           th:errors="*{surname}">
      </div>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <button class="btn btn-primary" type="submit" th:text="#{Update}"></button>
  </div>

</form>

</body>
</html>
